.promo {
	.container();
	.container--white();
	padding-top: 45px;
	padding-right: 20px;
	padding-bottom: 40px;
	padding-left: 20px;

	&__text {
		font-size: @font-size-lg;
		margin-bottom: 34px;
	}

	&__text:last-child {
		margin-bottom: 0;
	}
}

.features {
	.container();
	.container--gray();
	padding-top: 30px;

	&__item {
		
	}

	&__item-header {
		margin-bottom: 16px;
		font-size: @font-size-md;
		font-weight: bold;
	}

	&__item-text {
		margin-bottom: 35px;
	}
}

.main-footer {
	.container();
	.container--white();
	padding-top: 48px;
	padding-bottom: 10px;

	&__title {
		padding: 0 10px;
		padding-bottom: 45px;
		font-size: @font-size-lg;
	}

	&__item {
		padding-bottom: 32px;
	}

	&__item-header {
		margin-bottom: 12px;
		font-size: @font-size-md;
		font-size: @font-size;
		font-weight: bold;
	}

	&__item-text,
	&__item-link {
		font-size: @font-size-lg;
		color: @red;
	}

	&__item-link {
		display: inline-block;
		text-decoration: none;
	}
}
