.promo {
	.container();
	.container--white();
	
	padding-right: 20px;
	padding-left: 20px;

	@media all and (max-width: @screen-xs) {
		padding-top: 45px;
		padding-bottom: 36px;
	}					
	
	@media all and (min-width: @screen-xs) {
		padding-top: 58px;		
		padding-bottom: 53px;
	}

	@media all and (min-width: @screen-lg) {
		padding-top: 72px;		
		padding-bottom: 86px;
	}

	&__text {
		line-height: @lh-auto;

		@media all and (max-width: @screen-xs) {
			font-size: @fs-xl;
			margin-bottom: 34px;
		}					
		
		@media all and (min-width: @screen-xs) {
			font-size: @fs-xxxl;			
		}

		@media all and (min-width: @screen-lg) {
			font-size: @fs-large;			
		}
	}

	&__text:last-child {
		margin-bottom: 0;

		@media all and (min-width: @screen-md) {
			width: 480px;
			margin: 0 auto;
		}
	}
}

.features {
	.container();
	.container--gray();
	
	// mobile
	@media all and (max-width: @screen-xs) {
		background: @gray url("../img/screen-mobile-3.png") center bottom no-repeat;
		background-size: 158px 278px;
		padding-bottom: 278px;
	}

	@media (-webkit-min-device-pixel-ratio: 2) and (max-width: @screen-xs),
	       (min-resolution: 2dppx) and (max-width: @screen-xs) {
		background: @gray url("../img/screen-mobile-3.png") center bottom no-repeat;
		background-size: 158px 278px;
		padding-bottom: 278px;
   	}

   	@media (-webkit-min-device-pixel-ratio: 3) and (max-width: @screen-xs),
	       (min-resolution: 3dppx) and (max-width: @screen-xs) {
		background: @gray url("../img/screen-mobile-3.png") center bottom no-repeat;
		background-size: 158px 278px;
		padding-bottom: 278px;
   	}

	// tablet
	@media all and (min-width: @screen-xs) and (max-width: @screen-lg) {
		.clearfix();
		background: @gray url("../img/iphone-screen-tablet-3@1x.png") @padding-md bottom no-repeat;
		background-size: 268px 481px;
		padding-top: 81px;
	}	

	@media (-webkit-min-device-pixel-ratio: 2) and (min-width: @screen-xs),
	       (min-resolution: 2dppx) and (min-width: @screen-xs) {
   		.clearfix();
		background: @gray url("../img/iphone-screen-tablet-3@2x.png") @padding-md bottom no-repeat;					
		background-size: 268px 481px;
		padding-top: 81px;
   	}

	// desktop
	@media all and (min-width: @screen-lg) {
		.clearfix();
	}	

	&__container {
		@media (min-width: @screen-xs) and (max-width: @screen-lg) {
			float: right;
			width: 320px;
		}
	}
	
	&__item {
		@media (min-width: @screen-xs) and (max-width: @screen-lg) {
			text-align: left;
		}

		@media all and (min-width: @screen-lg) {
			display: inline-block;
			vertical-align: top;
			width: 300px;	
			margin-top: -95px;		
		}
	}

	&__item-header {
		margin-bottom: 16px;
		font-size: @fs;
		line-height: 24/18;
		font-weight: bold;

		@media all and (min-width: @screen-lg) {
			font-size: @fs-xxl;
			line-height: 1;
			color: @black;
		}
	}

	&__item-text {
		margin-bottom: 35px;
		font-size: @fs-xxs;
		line-height: 24/14;

		@media all and (min-width: @screen-lg) {
			padding: 0 30px;
			font-size: @fs;
			line-height: 30/18;
		}
	}

	&__item-image {
		display: none;
		@media all and (min-width: @screen-lg) {
			display: block;
			margin: 0 auto;
			margin-bottom: 58px;
		}
	}
}

.main-footer {
	.container();
	.container--white();
	.container--p0();
	padding-top: 48px;
	padding-bottom: 10px;

	@media all and (max-width: @screen-xs) {
		padding-top: 48px;
	}

	@media all and (min-width: @screen-xs) {
		padding-top: 55px;
	}

	@media all and (min-width: @screen-lg) {
		padding-top: 70px;
	}


	&__container {
		@media all and (min-width: @screen-xs) and (max-width: @screen-lg) {
			.clearfix();
		}

		@media all and (min-width: @screen-lg) {
			.clearfix();
			display: inline-block;
			vertical-align: middle;
			font-size: 0;
		}
	}

	.page-footer {
		@media all and (max-width: @screen-xs) {
			display: none;
		}
	}
	

	&__title {
		@media all and (max-width: @screen-xs) {
			padding: 0 10px;
			padding-bottom: 45px;
			font-size: @fs-xl;
		}

		@media all and (min-width: @screen-xs) {
			padding: 0 120px;
			padding-bottom: 55px;
			font-size: @fs-xxxl;
		}

		@media all and (min-width: @screen-lg) {
			padding: 0 200px;
			padding-bottom: 50px;
			font-size: @fs-large;
		}
	}

	&__item {
		padding-bottom: 32px;
	
		&:nth-of-type(2) {
			@media all and (min-width: @screen-xs) and (max-width: @screen-lg){
				float: left;
				width: 50%;
			}	

			@media all and (min-width: @screen-lg) {
				float: left;
				width: 30%;
			}
		}

		&:nth-of-type(3) {
			@media all and (min-width: @screen-xs) and (max-width: @screen-lg){
				float: right;
			 	width: 50%;
			}

			@media all and (min-width: @screen-lg) {
				float: right;
				width: 30%;
			}
		}

		&:nth-of-type(4) {
			@media all and (min-width: @screen-xs) and (max-width: @screen-lg){
				// padding-left: 180px;
				// padding-right: 180px;
				// width: 100%;
				clear: both;
				width: 50%;
				margin: 0 auto;
			}	

			@media all and (min-width: @screen-lg) {
				// margin-right: 0;
				// transform: translate(-30%, 0);
				display: inline-block;
				width: 30%;
			}
		}
	}

	&__item-header {
		margin-bottom: 12px;
		font-size: @fs;
		line-height: @lh-auto;
		font-weight: bold;
	
		@media (min-width: @screen-lg) {
			margin-bottom: 30px;
		}
	}

	&__item-text,
	&__item-link {
		font-size: @fs;
		line-height: @lh-auto;
		color: @red;

		@media (min-width: @screen-lg) {
			font-size: @fs-xl;
		}
	}

	&__item-link {
		display: inline-block;
		text-decoration: none;

		&:hover {
			color: @blue;
			text-decoration: underline;
		}

		&:active {
			color: @blue;
			opacity: 0.3;
		}
	}

	&__map-container {
		width: 100%;
		background: url("../img/triangle-white-footer.svg") center top no-repeat, 
							url("../img/map.jpg") center center no-repeat;	

		@media all and (max-width: @screen-xs) {
			height: @width-sm / 10;
			margin-bottom: -(@width-sm / 10);
		}

		@media all and (min-width: @screen-xs) {
			height: 73px;
			margin-bottom: -73px;
		}

		@media all and (min-width: @screen-lg) {
			height: 522px;
			// background: url("../img/triangle-white-footer.svg") center top no-repeat, 
			// 			url("../img/map.jpg") center center no-repeat;
			background-size: 100% 124px, cover;
		}
	}
}

.triangle {
	fill: @white;
	background: @gray;

	@media all and (max-width: @screen-xs) {
		width: 320px;
		height: 25.0864px;
		margin-bottom: -23px;
	}

	@media all and (min-width: @screen-xs) {
		width: 700px;
		height: 69.708px;
		margin-bottom: -3px;
	}

	@media all and (min-width: @screen-lg) {
	    width: 1200px;		    
	    height: 94.074px;
	    margin-bottom: -5px;
	}
}

.triangle-for-footer {
	fill: @white;
	background: rgba(255, 255, 255, 0);

	@media all and (min-width: @screen-lg) {
		width: 100%;
		height: 124px;
	}	
}