.container {
	width: @width-sm - (@cont-padding * 2);
	margin: 0 auto;
	padding: 0 @cont-padding;
	// outline: 1px solid @white;
}

// почему-то определить эти классы внутри .container используя & не удалось, потому что тогда
// не удаеся примешать модификатор к какому-нибудь классу - происходит ошибка компиляции типа 
// .container--white is undefined in page-header.less
.container--p0 {
	width: @width-sm;
	padding: 0;
}

.container--white {
	background-color: @white;
	color: @blue;
}

.container--gray {
	background-color: @gray;
	color: @blue;
}

.clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
