// widths 
@width-sm: 320px;


// container side padding
@cont-padding: 20px;

// container width without paddings
@width-sm-no-padd: @width-sm - (@cont-padding * 2);

// slider controls container width
@width-slid-contr: 74px;

// colors
@blue: 								#1d2631;
@white: 							#ffffff;
@gray: 								#f2f2f2;
@red: 								#d22856;
@dark-blue: 						#283645;
@dark-gray: 						#bec2c7;
@light-gray: 						#e5e5e5;


// font-family
@font-family: 'Open Sans', sans-serif;


// font-sizes
@font-size: 14px;
@font-size-md: 18px;
@font-size-lg: 24px;


// line-heights
@line-height: 18px;
@line-height-md: 24px;
@line-height-lg: 32px;
@line-height-lg-2: 30px;


// font-weigth
@fw-light: 300;
