.counter {
	position: relative;
	font-size: 0;
	vertical-align: bottom;

	&__field {
		.form__field();
		display: inline-block;
		text-align: center;
		border: 2px solid @light-gray;
		border-left: none;
		border-right: none;

		&--gray {
			background-color: @gray;
		}
	}

	 // &__field:hover ~ &__btn {
	 // 	border-left-color: @blue;
	 // }

	 // &__field:focus ~ &__btn {
	 // 	border-left-color: @red;
	 // }

	&__btn {
		position: absolute;
		top: 0;
		width: 68px;
		height: 68px;
		font-size: @fs;
		font-size: 0;
		background-color: @gray;
		// color: @gray;
		border: 2px solid @light-gray;
		border-radius: @border-radius 0 0 @border-radius;

		&--white {
			background-color: @white;
			// color: @white;
		}

		&--left {
			left: 0;
			border-radius: 0 @border-radius @border-radius 0;

			&:before {
				content: "";
				display: block;
				width: 27px;
				border: 2px solid @blue;
				margin-top: 4px;
				margin-left: 11px;
			}
		}

		&--right {
			right: 0;
			border-radius: 0 @border-radius @border-radius 0;

			&:before {
				content: "";
				display: block;
				width: 27px;
				border: 2px solid @blue;
				margin-top: 4px;
				margin-left: 11px;
				transform: rotate(90deg);
			}

			&:after {
				content: "";
				display: block;
				width: 27px;
				border: 2px solid @blue;
				margin-top: -4px;
				margin-left: 11px;
			}
		}

		&:hover {
			border-color: @blue;
		}

		&:active {
			background-color: @blue;
			border-color: @blue;
		}

		&:active:before,
		&:active:after {
			border-color: @white;
		}
	}
}
