.download {
	.container();

	@media (max-width: @screen-sm) {
		padding-top: 27px;
		padding-bottom: 35px;
		background-color: @blue;
	}					
	
	@media (min-width: @screen-sm) {
		float: left;
		width: 300px;
		padding-top: 40px;
		padding-bottom: 29px;
	}

	&__link {
		display: block;
		padding: 15px 0;
		font-size: @fs;
		line-height: 1;
		font-weight: bold;
		border: 3px solid @white;
		border-radius: 26px;
		color: @white;
		text-decoration: none;

		@media (max-width: @screen-sm) {
			margin-bottom: 31px;
		}					
		
		@media (min-width: @screen-sm) {
			margin-bottom: 44px;
		}
	}	


	&__images {
		font-size: 0;

		@media (max-width: @screen-sm) {
			padding-bottom: 28px;
		}					
		
		@media (min-width: @screen-sm) {
			padding-bottom: 38px;
		}
	}

	&__image {
		display: inline-block;
		margin-right: 36px;

		&:last-child {
			margin-right: 0;
		}
	}

	&__text {
		@media (max-width: @screen-sm) {
			font-size: 14px;
			line-height: 24/14;
		}					
		
		@media (min-width: @screen-sm) {
			font-size: 18px;
			line-height: 24/18;
		}

		padding-left: 25px;	
		padding-right: 25px;
	}		
}