.download {
	.container();
	
	padding-top: 27px;
	padding-bottom: 35px;

	&__link {
		display: block;
		padding: 15px 0;
		margin-bottom: 31px;
		font-size: @font-size-md;
		line-height: @line-height;
		font-weight: bold;
		border: 3px solid @white;
		border-radius: 26px;
		color: @white;
		text-decoration: none;
	}

	&__images {
		padding-bottom: 28px;
	}

	&__image {

	}

	&__text {
		padding-left: 25px;	
		padding-right: 25px;
	}
}