.friend {
	.clearfix();
	position: relative;

	@media all and (max-width: @screen-xs) {
		text-align: left;
		font-size: 0;
	}

	&__number {
		display: inline-block;
		vertical-align: middle;

		@media all and (max-width: @screen-xs) {

			// position: absolute;
			// left: 0;
			// text-align: left;
		}

		@media all and (min-width: @screen-xs) {
			margin-right: 20px;
		}
	}

	&__number-label {
		.form__label();
		// width: 61px;
		margin-left: 0;
		text-align: left;
	}

	&__number-field {
		width: 66px;
		height: 68px;
		padding-top: 18px;
		font-size: @fs;
		text-align: center;
		background-color: @gray;
		border: 2px solid @light-gray;
		border-radius: @border-radius 0 0 @border-radius;
		box-sizing: border-box;

		// @media all and (max-width: @screen-xs) {
		// 	border-right: none;
		// }
	}

	&__data {
		@media all and (max-width: @screen-xs) {
			width: 50%;
		}
		@media all and (min-width: @screen-xs) {
			width: 50%;
		}
	}

	&__data-wrapper {
		@media all and (max-width: @screen-xs) {
			display: inline-block;
			vertical-align: middle;
			width: 214px;
			text-align: left;
		}
		@media all and (min-width: @screen-xs) {
			display: inline-block;
			vertical-align: middle;
			width: 60%;
		}

		@media all and (min-width: @screen-lg) {
			display: inline-block;
			vertical-align: middle;
			width: 37%;
		}
	}

	&__data-wrapper:nth-of-type(3) {
		@media all and (min-width: @screen-xs) and (max-width: @screen-lg) {
			transform: translate(87px, 0);
		}
	}

	&__data-label {
		.form__label();
		// display: block;
		text-align: left;
	}

	&__data-field {
		.form__field();
		font-size: @fs;

		@media all and (max-width: @screen-xs) {
			width: 100%;
			// border-left: none;
		}
		@media all and (min-width: @screen-xs) {
			width: 100%;
		}

		&--no-left-border-radius {
			border-radius: 0 @border-radius @border-radius 0;
		}
	}

	&__number + &__data-wrapper &__data-field:first-of-type {
		@media all and (max-width: @screen-xs) {
			border-left: none;
		}
	}

	&__data-wrapper + &__data-wrapper {
		@media all and (max-width: @screen-xs) {
			margin-left: 67px;
		}

		@media all and (min-width: @screen-lg) {
			margin-left: 20px;
		}
	}

	&__data-field:nth-child(2) {
		@media all and (max-width: @screen-xs) {
			// padding-left: 80px;
		}		
	}

	&__delete {
		position: absolute;
		top: 55px;
		right: 0;
		font-size: @fs-xxs;
		line-height: @lh-auto;
		text-decoration: none;
		color: @blue;

		@media all and (max-width: @screen-xs) {
			display: none;
		}

		@media all and (min-width: @screen-xs) {
			width: 10%;
		}

		&:hover {
			color: @red;
			text-decoration: underline;
		}

		&:active {
			color: @red;
			opacity: 0.3;
		}
	}
}