.friend {
	.clearfix();

	&__number {
		display: block;
		float: left;
	}

	&__number-label {
		.form__label();
		width: 61px;
		margin-left: 0;
		margin-bottom: 8px;
	}

	&__number-field {
		width: 61px;
		height: 41px;
		padding-top: 18px;
		font-size: @font-size-md;
		background-color: @gray;
		border: 2px solid @light-gray;
		border-right: none;
		border-radius: @border-radius 0 0 @border-radius;
	}

	&__data {
		float: right;

		@media (max-width: @screen-sm) {
			width: 50%;
		}					
		@media (min-width: @screen-sm) {
			width: 50%;
		}
	}

	&__data-wrapper {
		
	}

	&__data-label {
		.form__label();
		display: block;
		text-align: left;
	}

	&__data-field {
		.form__field();
		// margin-bottom: 17px;
		// padding: 19px 22px;
		font-size: @font-size;
		// border: 2px solid @light-gray;
		// border-radius: @border-radius;

		&--no-left-border-radius {
			border-radius: 0 @border-radius @border-radius 0;
		}
	}

	&__delete {
		@media (max-width: @screen-sm) {
			display: none;
		}

		@media (min-width: @screen-sm) {
			display: block;
			float: right;
			width: 20%;
		}	
	}
}