.logo {
	display: block;
	float: left;
	width: 40px;
	margin-left: 22px;
	line-height: @font-size;
	text-align: center;

	&--footer {
		float: none;
		width: 145px;
		margin: 0 auto;
		margin-bottom: 40px;
	}

	&__image {
		display: block;
		
		&--footer {
			width: 146.3px;
			height: 40.375px;	
		}		
	}
}

