.logo {
	display: block;
	float: left;
	width: 146.3px;
	height: 40.375px;
	line-height: @fs;
	text-align: center;

	@media all and (max-width: @screen-xs) {
		margin-left: 20px;
	}

	@media all and (min-width: @screen-xs) {
		
		margin-left: 40px;
	}

	@media all and (min-width: @screen-lg) {
		
		margin-left: 130px;
	}

	&--footer {
		float: none;
		margin: 0 auto;
	}

	&__link {
		position: relative;
		display: block;
		font-size: 0;

		@media all and (max-width: @screen-xs) {
			width: 146.3px;
			height: 40.375px;
		}

		@media all and (min-width: @screen-xs) {
			width: 146.3px;
			height: 40.375px;
		}

		@media all and (min-width: @screen-lg) {
			width: 146.3px;
			height: 40.375px;
		}

		&--stars:after {
			@media all and (min-width: @screen-lg) {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: 146.3px;
				height: 40.375px;
				background: url("../img/logotype-white-desktop.svg") center center no-repeat;
			}			
		}

		&--footer {

			@media all and (max-width: @screen-xs) {
				margin: 0 auto;
				width: 146.3px;
				height: 40.375px;
			}

			@media all and (min-width: @screen-md) {
				width: 146.3px;
				height: 40.375px;
			}

			&:after {
				@media all and (min-width: @screen-lg) {
					display: none;
				}			
			}
		}		
	}

	&__image {
		position: relative;
		display: block;

		@media all and (max-width: @screen-xs) {
			width: 119px;
			height: 46px;
			transform: translate(-58px, -20px);
		}

		@media all and (min-width: @screen-xs) {
			width: 146.3px;
			height: 40.375px;
		}

		@media all and (min-width: @screen-lg) {
			display: none;
			width: 146.3px;
			height: 40.375px;
		}

		&--footer {
			transform: none;

			@media all and (max-width: @screen-xs) {
				width: 146.3px;
				height: 40.375px;
			}

			@media all and (min-width: @screen-md) {
				width: 146.3px;
				height: 40.375px;
			}
		}		
	}
}

.logo-pink, 
.logo-pink-desktop {
	fill: @white;

	&:hover {
		fill: @red;
	}

	&:active {
		fill: @white;
		opacity: 0.3;
	}
}

.logo-pink-footer, 
.logo-pink-desktop-footer {
	fill: @blue;

	&:hover {
		fill: @red;
	}

	&:active {
		fill: @blue;
		opacity: 0.3;
	}
}

.logo-pink__glasses {
	@media all and (max-width: @screen-xs) {
		display: none;
	}
}

.logo-pink-desktop, .logo-pink-desktop-footer {
	@media all and (max-width: @screen-lg) {
		display: none;
	}

	@media all and (min-width: @screen-lg) {
		display: inline-block;
	}
}

.logo-pink, .logo-pink-footer {
	@media all and (max-width: @screen-lg) {
		display: inline-block;
	}

	@media all and (min-width: @screen-lg) {
		display: none;
	}
}

// .logo-pink-footer__pink {
// 	fill: @blue;

// 	&:hover {
// 		fill: @red;
// 	}
// }