.page-footer {
	.container();
	.container--white();
	
	font-size: 0;

	@media all and (min-width: @screen-md) {
		text-align: left;
		padding-top: 36px;
		padding-bottom: 51px;
	}
	
	&__item {
		@media all and (max-width: @screen-xs) {
			display: block;
			padding-top: 30px;
			padding-bottom: 30px;
		}

		@media all and (min-width: @screen-md) {
			display: inline-block;
			vertical-align: middle;
			width: 30%;			
			margin-right: 5%;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	&__copyright {
		margin: 0 auto;		
		line-height: 34px;
		vertical-align: middle;
		text-align: right;

		@media all and (max-width: @screen-xs) {
			display: block;
			text-align: center;
		}
	}
	
	&__copyright-text {
		font-size: @fs-xxs;
		line-height: 18/14;			
	}

	&__copyright-link {
		font-size: 0;		
	}

	&__copyright-image {
		width: 27px;
		height: 34px;
		vertical-align: middle;
	}
}


.social-links {
	font-size: 0;

	&__item {
		display: inline-block;
		vertical-align: bottom;
		box-sizing: border-box;		
		width: 51px;
		height: 51px;
		margin-right: 12px;
		padding-top: 14px;
		text-align: center;
		background-color: @white;
		border: 4px solid @silver;
		border-radius: 50%;		
		
		&:last-child {
			margin-right: 0;
		}
	}

	&__image {
		&--tw {
			width: 17.81px;
			height: 14.19px;
		}

		&--fb {
			width: 8.31px;
			height: 17.31px;
		}

		&--ytb {
			width: 14.92px;
			height: 14px;
		}
	}
}

.icon-twitter path,
.icon-facebook path,
.icon-youtube path {
	fill: @red;
}

.htmlacademy path {
	fill: @red;
}