.page-header {
	.container();
	.container--p0();

	// modile
	@media all and (max-width: @screen-xs) {
		background: url("../img/background-mobile@1x.jpg") center top no-repeat;
	}

	@media (-webkit-min-device-pixel-ratio: 2) and (max-width: @screen-xs),
	       (min-resolution: 2dppx) and (max-width: @screen-xs) {
		background: url("../img/background-mobile@2x.jpg") center top no-repeat;
   	}

   	@media (-webkit-min-device-pixel-ratio: 3) and (max-width: @screen-xs),
	       (min-resolution: 3dppx) and (max-width: @screen-xs) {
		background: url("../img/background-mobile@3x.jpg") center top no-repeat;
   	}

	// tablet
	@media all and (min-width: @screen-xs) {
		.clearfix();
		background: url("../img/background-tablet@1x.jpg") center top no-repeat;
	}

	@media (-webkit-min-device-pixel-ratio: 2) and (min-width: @screen-xs),
	       (min-resolution: 2dppx) and (min-width: @screen-xs) {
       	.clearfix();
		background: url("../img/background-tablet@2x.jpg") center top no-repeat;
   	}

	// desktop
   	@media all and (min-width: @screen-lg) {
		.clearfix();
		background: url("../img/background-fullsize.jpg") center top no-repeat;
		//background-size: 100%;
		// background-size: 1200px 854px;
	}

	&--index {
		
		// modile
		@media all and (max-width: @screen-xs) {
			background: url("../img/iphone-hand-mobile.png") center 173px no-repeat, 
						url("../img/background-mobile@1x.jpg") center top no-repeat;
		}

		@media (-webkit-min-device-pixel-ratio: 2) and (max-width: @screen-xs),
		       (min-resolution: 2dppx) and (max-width: @screen-xs) {
			background: url("../img/iphone-hand-mobile@2x.png") center 173px no-repeat, 
						url("../img/background-mobile@2x.jpg") center top no-repeat;
	   	}

	   	@media (-webkit-min-device-pixel-ratio: 3) and (max-width: @screen-xs),
		       (min-resolution: 3dppx) and (max-width: @screen-xs) {
			background: url("../img/iphone-hand-mobile@3x.png") center 173px no-repeat, 
						url("../img/background-mobile@3x.jpg") center top no-repeat;
	   	}

		// tablet
		@media all and (min-width: @screen-xs) {
			background: url("../img/iphone-hand-tablet@1x.png") center 184px no-repeat, 
						url("../img/background-tablet@1x.jpg") center top no-repeat;
		}

		@media (-webkit-min-device-pixel-ratio: 2) and (min-width: @screen-xs),
		       (min-resolution: 2dppx) and (min-width: @screen-xs) {
	       	background: url("../img/iphone-hand-tablet@2x.png") center 184px no-repeat, 
						url("../img/background-tablet@2x.jpg") center top no-repeat;
	   	}
				
		// desktop
		@media all and (min-width: @screen-lg) {
			background: url("../img/iphone-hand-desktop@1x.png") center 209px no-repeat, 
						url("../img/background-fullsize.jpg") center top no-repeat;
			//background-size: 1050px 645px;
		}

		@media (-webkit-min-device-pixel-ratio: 2) and (min-width: @screen-lg),
		       (min-resolution: 2dppx) and (min-width: @screen-lg) {
	       	background: url("../img/iphone-hand-desktop@2x.png") center 209px no-repeat, 
						url("../img/background-fullsize.jpg") center top no-repeat;
			//background-size: 2100px 1290px;
			
	   	}
	}
	
	&__menu-wrapper {
		.container();
		.container--p0();
		position: relative;
	}

	&__top {
		.clearfix();
		position: fixed;
		top: 0;
		margin: 0 auto;
		background-color: rgba(0, 0, 0, 0.3);
		z-index: 1000;

		@media all and (max-width: @screen-xs) {
			width: @width-sm;
			padding: 23px 0 21px 0;
		}					
		@media all and (min-width: @screen-xs) {
			width: @width-md;
			padding: 27px 0 41px 0;
		}
		@media all and (min-width: @screen-lg) {
			width: @width-lg;
			padding: 27px 0 43px 0;
		}
	}

	&__title {
		margin: 0;

		@media all and (max-width: @screen-xs) {
			padding-top: 91px;
			padding-right: 20px;
			padding-bottom: 60px;
			padding-left: 20px;	
			font-size: @fs-xl;
			line-height: @lh-auto;
			font-weight: @fw-light;
		}					
		@media all and (min-width: @screen-xs) {
			padding-top: 190px;
			padding-right: 110px;
			padding-bottom: 86px;
			padding-left: 110px;	
			font-size: @fs-large;
			line-height: @lh-auto;
			font-weight: @fw-light;
		}
		@media all and (min-width: @screen-lg) {
			padding-top: 190px;
			padding-right: 110px;
			padding-bottom: 86px;
			padding-left: 146px;	
			font-size: @fs-large;
			line-height: @lh-auto;
			font-weight: @fw-light;
		}

		&--index {
			@media all and (max-width: @screen-xs) {
				padding-bottom: 312px;
			}					
			@media all and (min-width: @screen-xs) {
				width: 240px;
				padding-top: 212px;
				padding-right: 380px;
				padding-bottom: 0;
				padding-left: 60px;
				font-size: @fs-xxxl;
				line-height: @lh-auto;
			}
			@media all and (min-width: @screen-lg) {
				width: 240px;
				padding-top: 212px;
				padding-right: 380px;
				padding-bottom: 0;
				padding-left: 146px;
				font-size: @fs-xxxl;
				line-height: @lh-auto;
			}
		}
	}
	
}

.menu-toggle {
	display: block;
	float: right;
	
	@media all and (max-width: @screen-xs) {
		width: 48px;
		margin-right: @padding-sm;
	}					
	@media all and (min-width: @screen-xs) {
		width: 50px;
		margin-right: @padding-md;
	}
	@media all and (min-width: @screen-lg) {
		display: none;
	}

	&__image {
		width: 50px;
		height: 24px;
	}
}

.main-nav {
	display: none;
	position: absolute;
	font-family: @font-family;
	font-size: @font-size-md;
	line-height: @line-height-lg;
	font-weight: bold;
	text-align: center;
	
	@media all and (max-width: @screen-xs) {
		top: 75px;
		width: @width-sm;
	}					
	@media all and (min-width: @screen-xs) {
		top: 99px;
		width: @width-md;		
	}
	@media all and (min-width: @screen-lg) {
		position: fixed;
		top: 0;
		display: block;
		width: @width-lg;
		padding: 27px 0 43px 0;
		margin-left: 200px;
		z-index: 1001;
		
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style: none;	
	}
	
	&__item {
		margin-bottom: 1px;
		// background-color: @dark-blue;
		box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.15), 0 1px 0 0 rgba(0, 0, 0, 1);
		
		@media all and (max-width: @screen-xs) {
			padding-top: 17px;
			padding-bottom: 17px;
		}					
		@media all and (min-width: @screen-md) {
			padding-top: 19px;
			padding-bottom: 18px;
		}
		@media all and (min-width: @screen-lg) {
			display: inline-block;
			vertical-align: top;
			box-shadow: none;
			padding: 10px 20px;
		}

		// &:after {
		// 	content: "";
		// 	display: none;
		// 	border: 2px solid @white;
		// }
		@media all and (min-width: @screen-lg) {
			&:hover:after {
				content: "";
				display: block;
				border: 2px solid @white;
			}

			&:active {
				opacity: 0.3;
			}

			&:active:after {
				display: none;
			}
		}
		
	}

	&__link {
		color: @white;
		text-transform: uppercase;
		text-decoration: none;
	}
}

.hamburer {
	fill: @white;

	&:hover {
		fill: @red;
	}

	&:active {
		fill: @red;
		opacity: 0.3;
	}
}
