.price-table {
	.container();
	.container--p0();
	.container--gray();
	padding-bottom: 42px;
	text-transform: uppercase;
	overflow: hidden;

	
	padding-top: 40px;

	@media all and (min-width: @screen-lg) {
		padding-top: 60px;
		padding-bottom: 95px;
	}


	&__wrapper {
		top: 90px;
		left: 20px;
		font-size: 0;

		@media all and (max-width: @screen-xs) {
			width: @width-sm-no-padd * 3;
		}

		@media all and (min-width: @screen-xs) and (max-width: @screen-lg) {
			.container();
			width: @width-md-no-padd;
		}

		@media all and (min-width: @screen-lg) {
			.container();
		}
	}

	&__column-wrapper {
		display: inline-block;
		

		@media all and (max-width: @screen-xs) {
			width: @width-sm-no-padd;
		}

		@media all and (min-width: @screen-xs) {
			width: @width-md-no-padd / 4;
		}

		@media all and (min-width: @screen-lg) {
			width: 235px;
		}

		&:first-child {
			@media all and (max-width: @screen-xs) {
				display: none;
			}
		}
		
		&:first-child .price-table__column-header {
			@media all and (min-width: @screen-md) {
				visibility: hidden;
			}
		}
		
		&:first-child .price-table__option-name {
			@media all and (min-width: @screen-md) {
				display: block;
			}
		}
	}

	&__column {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__column-header,
	&__option {
		border-left: 1px solid @light-gray;
		border-right: 1px solid @light-gray;
	}

	&__column-header {
		height: 67px;
		padding-top: 19px;
		padding-bottom: 22px;
		background-color: @blue;
		color: @white;
		overflow: hidden;

		&--hit:after {
			width: 150px;
		    content: "ХИТ";
		    display: block;
		    font-size: 14px;
		    line-height: 30/14;
		    background-color: @red;
		    color: @white;
		    transform: rotate(-45deg) translate(20px, -92px);
		    font-weight: bold;
		}
	}

	&__rate-name {
		margin-bottom: 7px;
		font-weight: bold;

		@media all and (max-width: @screen-xs) {
			font-size: @fs;
			line-height: 30/18;
		}					
		@media all and (min-width: @screen-xs) {
			font-size: @fs-xs;
			line-height: 30/16;
		}

		@media all and (min-width: @screen-lg) {
			font-size: @fs;
			line-height: 30/18;
		}
	}

	&__rate-price {
		@media all and (max-width: @screen-xs) {
			font-size: @fs-xl;
			line-height: 30/24;
		}					
		@media all and (min-width: @screen-md) {
			font-size: @fs;
			line-height: 30/18;
		}

		@media all and (min-width: @screen-md) {
			font-size: @fs-xl;
			line-height: 30/24;
		}
	}

	&__option {
		.clearfix();	
		height: 45px;	
		padding-top: 10px;
		padding-bottom: 16px;
		font-size: @font-size;
		line-height: @line-height-lg-2;
		background-color: @white;
		color: @dark-blue;
		border: 1px solid @light-gray;
		box-sizing: border-box;
	}

	&__option-name {
		float: left;
		width: 185px;
		margin-left: 22px;
		font-size: @fs-xxs;
		line-height: 30/14;
		text-align: left;
		
		@media all and (min-width: @screen-md) {
			display: none;
		}

		@media all and (min-width: @screen-lg) {
			font-size: @fs;
			line-height: 30/18;
			text-transform: none;
		}
	}

	&__option-value {
		float: right;
		width: 29px;
		height: 22px;
		margin-right: 18px;
		font-size: 0;
		
		@media all and (min-width: @screen-xs) {
			margin-right: 57px;
		}

		@media all and (min-width: @screen-lg) {
			margin-right: 102px;
		}

		&--no {
			width: 27px;
			height: 27px;
		}
	}

	&__option-image {
		width: 31px;
		height: 22px;

		&--no {
			width: 27px;
			height: 27px;
		}
	}

	input {
		display: none;
	}

	&__controls {
		width: @width-slid-contr;	
		font-size: 0;

		@media all and (max-width: @screen-xs) {
			margin-left: (@width-sm - @width-slid-contr) / 2;
			padding-bottom: 20px;
		}

		@media all and (min-width: @screen-md) {
			display: none;
		}	
	}
	
	&__control {
		display: inline-block;
		width: 6px;
		height: 6px;
		margin-right: 19px;		
		background-color: @dark-gray;
		border: 3px solid @gray;
		border-radius: 50%;
	}

	&__control:last-child {
		margin-right: 0;
	}

	&__control:hover {
		background-color: @bullet-hover-color;
		cursor: pointer;
	}

	&__control:active {
		background-color: @bullet-active-color;
		cursor: pointer;
	}

	#price-btn-1:checked ~ &__controls &__control[for="price-btn-1"] {
		background-color: @white;
		border-color: @dark-blue;
	}

	#price-btn-2:checked ~ &__controls &__control[for="price-btn-2"] {
		background-color: @white;
		border-color: @dark-blue;
	}

	#price-btn-3:checked ~ &__controls &__control[for="price-btn-3"] {
		background-color: @white;
		border-color: @dark-blue;
	}

	@media all and (max-width: @screen-xs) {
		#price-btn-1:checked ~ &__wrapper {
			transform: translate(@cont-padding, 0);
		}

		#price-btn-2:checked ~ &__wrapper {
			transform: translate(@cont-padding - @width-sm-no-padd, 0);
		}

		#price-btn-3:checked ~ &__wrapper {
			transform: translate(@cont-padding - (@width-sm-no-padd * 2), 0);
		}
	}
}

.yes {
	fill: @green;

	@media all and (min-width: @screen-lg) {
		width: 29px;
		height: 22px;
	}
}

.no {
	fill: @light-red;
}