.price-table {
	.container();
	.container--p0();
	.container--gray();
	padding-bottom: 42px;
	text-transform: uppercase;
	overflow: hidden;
	
	&:before {
		content: "";
		display: block;
		margin-bottom: 90px;
		background: @gray url("../img/triangle-white.svg") left top no-repeat;
		background-size: 100% 100%;

		@media (max-width: @screen-sm) {
			width: @width-sm;
			height: @width-sm / 10;
		}

		@media (min-width: @screen-sm) {
			width: @width-md;
			height: 56px;
		}	
	}

	&__wrapper {
		top: 90px;
		left: 20px;
		font-size: 0;

		@media (max-width: @screen-sm) {
			width: @width-sm-no-padd * 3;
		}

		@media (min-width: @screen-sm) {
			.container();
			width: @width-md-no-padd;
		}
	}

	&__column-wrapper {
		display: inline-block;
		padding-bottom: 40px;

		@media (max-width: @screen-sm) {
			width: @width-sm-no-padd;
		}

		@media (min-width: @screen-sm) {
			width: @width-md-no-padd / 4;
		}

		&:first-child {
			@media (max-width: @screen-sm) {
				display: none;
			}
		}
		
		&:first-child .price-table__column-header {
			@media (min-width: @screen-sm) {
				visibility: hidden;
			}
		}
		
		&:first-child .price-table__option-name {
			@media (min-width: @screen-sm) {
				display: block;
			}
		}
	}

	&__column {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__column-header,
	&__option {
		border-left: 1px solid @light-gray;
		border-right: 1px solid @light-gray;
	}

	&__column-header {
		padding-top: 19px;
		padding-bottom: 22px;
		background-color: @blue;
		color: @white;
	}

	&__rate-name {
		margin-bottom: 7px;
		font-size: @font-size-md;
		line-height: @line-height-lg-2;
		font-weight: bold;
	}

	&__rate-price {
		font-size: @font-size-lg;
		line-height: @line-height-lg-2;
	}

	&__option {
		.clearfix();		
		padding-top: 18px;
		padding-bottom: 16px;
		font-size: @font-size;
		line-height: @line-height-lg-2;
		background-color: @white;
		color: @dark-blue;
		border: 1px solid @light-gray;
	}

	&__option-name {
		float: left;
		width: 185px;
		margin-left: 22px;
		text-align: left;
		
		@media (min-width: @screen-sm) {
			display: none;
		}
	}

	&__option-value {
		float: right;
		width: 30px;
		margin-right: 18px;
		font-size: 0;
		background: url("../img/yes-green.svg") center center no-repeat;

		&--no {
			background: url("../img/no-red.svg") center center no-repeat;
		}

		// @media (min-width: @screen-sm) {
		// 	float: none;
		// 	margin: 0 auto;
		// }
	}

	input {
		display: none;
	}

	&__controls {
		width: @width-slid-contr;	
		font-size: 0;

		@media (max-width: @screen-sm) {
			margin-left: (@width-sm - @width-slid-contr) / 2;
		}

		@media (min-width: @screen-sm) {
			display: none;
		}	
	}
	
	&__control {
		display: inline-block;
		width: 6px;
		height: 6px;
		margin-right: 19px;		
		background-color: @dark-gray;
		border: 3px solid @gray;
		border-radius: 50%;
	}

	&__control:last-child {
		margin-right: 0;
	}

	&__control:hover {
		background-color: @white;
		border-color: @dark-blue;
		cursor: pointer;
	}

	#price-btn-1:checked ~ &__controls &__control[for="price-btn-1"] {
		background-color: @white;
		border-color: @dark-blue;
	}

	#price-btn-2:checked ~ &__controls &__control[for="price-btn-2"] {
		background-color: @white;
		border-color: @dark-blue;
	}

	#price-btn-3:checked ~ &__controls &__control[for="price-btn-3"] {
		background-color: @white;
		border-color: @dark-blue;
	}

	@media (max-width: @screen-sm) {
		#price-btn-1:checked ~ &__wrapper {
		transform: translate(@cont-padding, 0);
		}

		#price-btn-2:checked ~ &__wrapper {
			transform: translate(@cont-padding - @width-sm-no-padd, 0);
		}

		#price-btn-3:checked ~ &__wrapper {
			transform: translate(@cont-padding - (@width-sm-no-padd * 2), 0);
		}
	}
	
}
