.reviews-slider {
	.container();
	.container--white();
	
	@media all and (max-width: @screen-xs) {
		padding-top: 44px;
		padding-bottom: 27px;
	}

	@media all and (min-width: @screen-xs) {
		padding-top: 72px;
		padding-bottom: 20px;
	}

	@media all and (min-width: @screen-lg) {
		padding-top: 72px;
		padding-bottom: 37px;
	}

	&__slides {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__slide {
		display: none;
		padding-bottom: 40px;
		margin: 0 auto;

		@media all and (max-width: @screen-xs) {
			// width: @width-sm-no-padd;
		}

		@media all and (min-width: @screen-xs) {
			// width: @width-md-no-padd;
		}

		@media all and (min-width: @screen-lg) {
			// width: 700px;
			padding-bottom: 0;
		}
	}
	
	&__slide-text-wrapper {
		@media all and (min-width: @screen-lg) {
			margin-bottom: 41px;
		}
	}

	&__arrow {
		display: none;
		@media all and (min-width: @screen-lg) {
			display: inline-block;
			vertical-align: middle;
		}

		&--left {
			@media all and (min-width: @screen-lg) {
				padding-right: 70px;
			}
		}

		&--right {
			@media all and (min-width: @screen-lg) {
				padding-left: 70px;
			}
		}

		&:hover {
			fill: @arrow-hover-color;
		}

		&:active {
			fill: @arrow-active-color;
		}
	}
	
	&__slide-title-top {
		display: none;

		@media all and (max-width: @screen-xs) {
			display: block;
		}

		@media all and (min-width: @screen-xs) {
			display: none;
		}
	}

	&__slide-title-bottom {
		display: none;
		
		.reviews-slider__slide-title {
			margin-bottom: 0;
		}

		@media all and (max-width: @screen-xs) {
			display: none;
		}

		@media all and (min-width: @screen-xs) {
			display: block;
		}

		@media all and (min-width: @screen-lg) {
			display: block;
			font-size: @fs-xl;
			line-height: 30/24;
		}
	}

	&__slide-title {
		margin-bottom: 16px;
		font-weight: bold;
		color: @black;

		@media all and (max-width: @screen-xs) {
			font-size: @fs;
			line-height: 30/18;
		}

		@media all and (min-width: @screen-xs) {
			font-size: @fs-l;
			line-height: 1.5;
		}
	}

	&__slide-title-descr {
		@media all and (min-width: @screen-xs) {
			font-size: @fs-xxs;
			line-height: 30/14;
		}

		@media all and (min-width: @screen-lg) {
			font-size: @fs;
			line-height: 30/18;
		}
	}

	&__slide-text {
		
		@media all and (max-width: @screen-xs) {
			font-size: @fs-xxs;
			line-height: 30/14;
		}

		@media all and (min-width: @screen-xs) {
			display: inline-block;
			vertical-align: middle;
			font-size: @fs;
			line-height: 30/18;
			margin-top: 0;
			margin-right: 0;
			margin-bottom: 39px;
			margin-left: 0;			
		}

		@media all and (min-width: @screen-lg) {
			display: inline-block;
			vertical-align: middle;
			width: 670px;
		}		

		@media all and (max-width: @screen-lg) {
			&:before {
				content:"\00ab";
			}

			&:after {
				content:"\00bb";
			}
		}
	}

	input {
		display: none;
	}

	&__controls {
		width: 74px;
		margin: 0 auto;
		font-size: 0;

		@media all and (min-width: @screen-lg) {
			display: none;
		}
	}
	
	&__control {
		display: inline-block;
		width: 6px;
		height: 6px;
		margin-right: 19px;		
		background-color: @dark-gray;
		border: 3px solid @white;
		border-radius: 50%;
	}

	&__control:last-child {
		margin-right: 0;
	}

	&__control:hover {
		background-color: @bullet-hover-color;
		cursor: pointer;
	}

	&__control:active {
		background-color: @bullet-active-color;
		cursor: pointer;
	}

	#review-btn-1:checked ~ &__controls &__control[for="review-btn-1"] {
		background-color: @white;
		border-color: @dark-blue;
	}

	#review-btn-2:checked ~ &__controls &__control[for="review-btn-2"] {
		background-color: @white;
		border-color: @dark-blue;
	}

	#review-btn-3:checked ~ &__controls &__control[for="review-btn-3"] {
		background-color: @white;
		border-color: @dark-blue;
	}

	#review-btn-1:checked ~ &__slides &__slide:nth-child(1) {
		display: block;
	}

	#review-btn-2:checked ~ &__slides &__slide:nth-child(2) {
		display: block;
	}

	#review-btn-3:checked ~ &__slides &__slide:nth-child(3) {
		display: block;
	}
}

.quotes {
	display: none;
	@media all and (min-width: @screen-lg) {
		display: block;
		margin: 0 auto;
		margin-bottom: 58px;
		fill: @quotes-color;
		width: 77px;
		height: 63px;
	}	
}

.left-arrow,
.right-arrow {
	width: 23px;
	height: 74px;	
	fill: @arrow-color;
}