.reviews-slider {
	.container();
	.container--white();
	padding-top: 44px;
	padding-bottom: 27px;

	@media all and (max-width: @screen-xs) {
		padding-top: 44px;
		padding-bottom: 27px;
	}

	@media all and (min-width: @screen-xs) {
		padding-top: 82px;
		padding-bottom: 27px;
	}

	&__slides {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__slide {
		display: none;
		padding-bottom: 40px;
		margin: 0 auto;

		@media all and (max-width: @screen-xs) {
			width: @width-sm-no-padd;
		}

		@media all and (min-width: @screen-xs) {
			width: @width-md-no-padd;
		}

		@media all and (min-width: @screen-lg) {
			width: 700px;
		}
	}

	
	&__arrow {
		display: none;
		@media all and (min-width: @screen-lg) {
			display: inline-block;
			vertical-align: middle;
		}

		&--left {
			@media all and (min-width: @screen-lg) {
				padding-right: 20px;
			}
		}

		&--right {
			@media all and (min-width: @screen-lg) {
				padding-left: 20px;
			}
		}
	}
	
	&__slide-text {
		@media all and (min-width: @screen-lg) {
			display: inline-block;
			vertical-align: middle;
			width: 500px;
		}	
	}

	&__slide-title-top {
		display: none;

		@media all and (max-width: @screen-xs) {
			display: block;
		}

		@media all and (min-width: @screen-xs) {
			display: none;
		}
	}

	&__slide-title-bottom {
		display: none;
		
		.reviews-slider__slide-title {
			margin-bottom: 0;
		}

		@media all and (max-width: @screen-xs) {
			display: none;
		}

		@media all and (min-width: @screen-xs) {
			display: block;
		}
	}

	&__slide-title {
		margin-bottom: 16px;
		font-weight: bold;

		@media all and (max-width: @screen-xs) {
			font-size: @fs;
			line-height: 30/18;
		}

		@media all and (min-width: @screen-xs) {
			font-size: @fs-l;
			line-height: 1.5;
		}

		&-descr {
			@media all and (min-width: @screen-xs) {
				font-size: @fs-xs;
				line-height: 30/14;
			}			
		}
	}

	&__slide-text {
		&:before {
			content:"\00ab";

			// @media all and (min-width: @screen-lg) {
			// 	content:"";
			// 	width: 30px;
			// 	height: 30px;
			// 	border: 3px solid @arrow-color;
			// 	border-top: none;
			// 	border-right: none;
			// 	transform: translate(45deg);
			// }
		}

		&:after {
			content:"\00bb";

			// @media all and (min-width: @screen-lg) {
			// 	content:"";
			// 	width: 30px;
			// 	height: 30px;
			// 	border: 3px solid @arrow-color;
			// 	border-top: none;
			// 	border-right: none;
			// 	transform: translate(45deg);
			// }
		}

		@media all and (max-width: @screen-xs) {
			font-size: @fs-xxs;
			line-height: 30/14;
		}

		@media all and (min-width: @screen-md) {
			font-size: @fs;
			line-height: 30/18;
		}
	}

	input {
		display: none;
	}

	&__controls {
		width: 74px;
		margin: 0 auto;
		// margin-left: (@width-sm-no-padd - @width-slid-contr) / 2;
		font-size: 0;

		// @media all and (max-width: @screen-xs) {
		// 	margin-left: (@width-sm-no-padd - @width-slid-contr) / 2;
		// }

		// @media all and (min-width: @screen-md) {
		// 	margin-left: (@width-md-no-padd - @width-slid-contr) / 2;
		// }

		@media all and (min-width: @screen-lg) {
			display: none;
		}
	}
	
	&__control {
		display: inline-block;
		width: 6px;
		height: 6px;
		margin-right: 19px;		
		background-color: @dark-gray;
		border: 3px solid @white;
		border-radius: 50%;
	}

	&__control:last-child {
		margin-right: 0;
	}

	&__control:hover {
		background-color: @white;
		border-color: @dark-blue;
		cursor: pointer;
	}

	#review-btn-1:checked ~ &__controls &__control[for="review-btn-1"] {
		background-color: @white;
		border-color: @dark-blue;
	}

	#review-btn-2:checked ~ &__controls &__control[for="review-btn-2"] {
		background-color: @white;
		border-color: @dark-blue;
	}

	#review-btn-3:checked ~ &__controls &__control[for="review-btn-3"] {
		background-color: @white;
		border-color: @dark-blue;
	}

	#review-btn-1:checked ~ &__slides &__slide:nth-child(1) {
		display: block;
	}

	#review-btn-2:checked ~ &__slides &__slide:nth-child(2) {
		display: block;
	}

	#review-btn-3:checked ~ &__slides &__slide:nth-child(3) {
		display: block;
	}
}

.quotes {
	display: none;
	@media all and (min-width: @screen-lg) {
		display: block;
		margin: 0 auto;
		fill: @quotes-color;
		width: 77px;
		height: 63px;
	}	
}

.left-arrow,
.right-arrow {
	width: 23px;
	height: 74px;	
	fill: @arrow-color;
}